.message {
  margin-top: 15%;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: rgb(40, 40, 40);
}

h1::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 0.6rem;
  border-radius: 20px;
  background-color: #18851a;
}
